
// Bootstrap Variables
$icon-font-path: '../../node_modules/materialize-css/dist/fonts/roboto/';


// Import Materialize
@import '../../node_modules/materialize-css/sass/materialize.scss';

//import slick carousel
@import '../../node_modules/slick-carousel/slick/slick.scss';


//variables

//HSLA
$color1h: hsla(195%, 46%, 5%, 1);
$color2h: hsla(190%, 72%, 48%, 1);
$color3h: hsla(194%, 35%, 60%, 1);
$color4h: hsla(211%, 16%, 68%, 1);
$color5h: hsla(220%, 5%, 88%, 1);

/* RGB */
$color1: rgba(7, 16, 19, 1);
$color2: rgba(35, 181, 211, 1);
$color3: rgba(117, 171, 188, 1);
$color4: rgba(162, 174, 187, 1);
$color5: rgba(223, 224, 226, 1);

$color6: #3FA56A;

$sans1: 'Martel Sans', sans-serif;
$sans2: 'Muli', sans-serif;
$serif1: 'Alegreya', serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.navbar {
  background-color: $color2;
}

#gallery {
  background-color: black;
}
#logo-jb3 {
  margin-top: 10px;
  height: 50px;
}

#logo-jb3-large {
  max-height: 200px;
}


nav ul a,
nav .brand-logo {
  color: #fff;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;

  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.name-header {
  font-family: $sans1;

}

.developer {
  font-family: $sans1;
  font-size: 2.3rem;
}

.langs {
  @extend .developer;
  font-size: 1.28rem;
}

.para {
  font-size: 18px;
  font-family: $serif1;
}

.para1 {
  @extend .para;

}

.about-header {
  font-family: $sans1;
  color: $color1;
}



#profile-pic {
  border-radius: 15px;
  margin-top: 40px;
  //height: 300px;
  width: 100%;


}

.language-med {
  padding: 15px;
  background-color: rgba(11, 37, 45, 0.39);
}

#insta {
  max-height: 60px;

}

#logo {
  margin-top: 2.3rem;
  background-color: rgba(11, 37, 45, 0.39);
  color: white;
  text-shadow: 0px 1px 0px $color1;
}

.github {
  max-height: 62px;
}
.contact-info a {
  display: block;
  font-family: $serif1;
  font-size: 20px;
  min-height: 16px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
  color: $color1;
}

.contact {
  text-decoration: none;
  list-style: none;
}

.linked {
  max-height: 60px;
}

.page-footer {
  background-color: $color2;
  .footer-copyright {
    background-color: rgba(51, 51, 51, 0.27);
  }
}
.collapsible-body {
  background-color: rgba(35, 181, 211, 0.37);
}
#resume-exp {
  background-color: $color4;
}



#contact-header {
  text-shadow: 0px 1px 1px black;
}
#contacters {
  @extend #resume-exp;
}
.collapsible-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
#clemson {
  height: 30px;
}
#tiy {
  height: 30px;
}
#gtc {
  height: 30px;
}
.logo-header {
  max-height: 60px;
}

.social-linkers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.medium {
  max-height: 60px;
}

#construction {
  margin: 18px 0;
  border-radius: 15px;
  max-height: 230px;
}
#index-banner {
  min-height: 100vh;
}

.work-title {
  font-size: 40px;
}

.res-head {
  text-shadow: 0px 1px 1px black;
}

#resume-download-button {
  width: 220px;
  background-color: $color6;
  @media screen and (max-width: 716px) {
    width: 100%;
    font-size: 14px;
    padding: 2px;

  }
}

#resume-view-button {
  @extend #resume-download-button;
  margin-top: 10px;
}


//@media

#round-res-button {
  background-color: $color6;
}

#round-view-res-button {
  margin-top: 10px;
  @extend #round-res-button;
}
#working-example {
  background-color: rgba(15, 54, 62, 0.61);;
  color: white;


}

#working-example1, #working-example2, #working-example3, #working-example4, #working-example5, #working-example6 {
  @extend #working-example;
}

#language-card-1 {
  background-color: rgba(35, 60, 72, 0.64);

}
// #lang-card {
//   @media screen and (max-width: 1080px) {
//     height: 100vh;
//
//   }
// }

.section-para {
  box-shadow: 1px 1px 15px black;
}
#mid-para {
  background-color: rgba(35, 60, 72, 0.64);
  padding: 10px;
}

#mid-para1, #mid-para2, #mid-para3, #mid-para4, #mid-para5 {
  @extend #mid-para;
}

.art {
  margin: 0 10px;
  max-width: 500px;
  max-height: 500px;
}
.art-pic{
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.proj-links {
  color: white;
  //text-decoration: underline;
}
#gallery {
  background: linear-gradient(to right, rgba(255,0,0,0),$color4, $color1,$color4, rgba(255,0,0,0) );
}

#language-sect {
  background-color: $color4;
}
.work-example {
  height: 200px;
  //width: 100%;
  overflow: hidden;
    img {
      min-height: 200px;
      //max-width: 100%;
      overflow: hidden;
    }
}

.work-example:hover::after {
  position: absolute;
  content: '';
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(35, 181, 211, .60);;
}

.devs {
  font-size: 90px;
  //margin: 20px 20px;
  color: white;
  @media screen and (max-width: 728px) {
    font-size: 30px;

  }

}

.slick-arrow {
  background-color: $color6;
  border-radius: 5px;
  color: white;
}

.devs:hover {
  color: $color2;
}
